
@font-face {
    font-family: bold;
    src: url(fonts/IBMPlexSans-SemiBold.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: reg;
    src: url(fonts/Poppins-Regular.ttf);
}
.reg {
    font-family: reg;
}
.poppins-bold{
    font-family: poppins-bold;
}
.bold{
    font-family: bold;
}
.first-half {
    background-color: #DDDDDD;
}
html, body {
    margin: 0 auto;
    background-color: white;
}
.page-name {
    display: inline-block;
    margin-left: 52px;
}
.roca{
    font-size: 40px;
}
.template {
    font-size: 13px;
    margin-top: -46px;
    padding-left: 2px;
    color: #B3B3B3;
}
.for-zero {
    display: inline-block;
   margin-left: 1600px;
   margin-top: -285px;
}
.for-01{
    font-size:158.3px ;
}
.about-me {
    font-size: 43.17px;
    color:#373737 ;
    position: absolute;
    top: 40px;
}
.name {
    width: 850px;
    margin-top: 138px;
    margin-left: 950px;

}
.name-1{
    font-size: 50px ;

}
.name-2 {
    font-size: 71px;
    margin-top: -60px;
    margin-left: -20px;
}
.web-span {
    font-size:23.29;
     margin-top:-60px;
}
a {
    text-decoration: none;
}
.name img {
    width: 25px;
    padding-left: 10px;
}
.name img:hover{
    width: 35px;
    filter: drop-shadow( 0 8px 8px  lightblue);
    transition-duration: 0.5s;
}
.clients {
    margin-top: 181px;
    margin-left: 1462px;
    padding-bottom: 47px;
}
.for-clients {
    font-size: 34px;
}
.for-clients span{
    color: #E93656;
}
.red-line {
    width: 390px;
    margin-top: -20px;
    height: 6px;
    background-color: #E93656;
    margin-left: -2px;
    border: none;
}
.about {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 155px;
    margin-top: 218px;
    text-align: justify;
}
.for-name {
    font-size: 40px;
}
.yellow-text {
    font-size: 14px;
    color: #DAAE19;
}
.all-about-me {
    font-size: 15px;
    color: #555555;
    width: 400px;
}
.me img{
    grid-template-columns: auto;
    width: 430px;
    height: 603px;
    margin-right: 55px;
}
.hire {
    width: 152px;
    height: 50px;
    margin-left: 250px;
    margin-top: 60px;
    color: white;
    font-size: 15px;
    background-color: #E93656;
    border: #E93656;
}
.what-i-can-do {
    margin-top: 59px;
}
.what-i-can-do img {
    padding-top: 79px;
    width: 30px;
    padding-left: 20px;
}
.what-i-can-do img:hover {
    margin: 1%;
    padding: 1em;
    background-image: radial-gradient(circle, white, #15263E, #15263E);
}
.what-i-can-do p{
    font-size: 20px;
}
.what-i-can-do span {
    color: #E93656;
}
.teamwork {
    width: 300px;
    height: 9px;
    background-color: #F0F0F0;
    border: none;
    margin-left: -1px;
    transition: width 2s;
}
.about:hover  .hr1{
    background-color: #E93656;
    width: 256px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}
.about:hover  .hr2{
    background-color: #E93656;
    width: 195px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}
.about:hover  .hr3{
    background-color: #E93656;
    width: 204px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}
.about:hover  .hr4{
    background-color: #E93656;
    width: 120px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}
.contact {
    margin-top: 60px;
    background-color: #15263E;
    height: 200px;
    display: flex;
    gap: 70px;
    /* grid-template-columns: auto auto auto auto auto auto ; */
}
.contact img:hover{
    background-color: #E93656;
    border-color: #E93656;
}
.phone {
    width: 30px;
    height: 30px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 350px;
    border-radius: 50%;
    border-style:  dashed;
    color: white;
}
.for-nums {
    margin-top: 60px;
    color: white;
    font-size: 25px;
}
.nums {
    color:#DFDFDF ;
    font-size: 14px;
    margin-top: -15px;
}
.map-dot {
    width: 30px;
    height: 30px;
    padding: 30px;
    margin-top: 60px;
    /* background: #E93656 0% 0% no-repeat padding-box; */
    border-radius: 50%;
    border-style:  dashed;
    color: white;
}
.mail {
    width: 30px;
    height: 30px;
    padding: 30px;
    margin-top: 60px;
    border-radius: 50%;
    border-style:  dashed;
    color: white;
}
.for-clients {
    margin-top: 203px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 10px;
    justify-content: center;

}
.for-clients div {
    background-color: #f0f0f0;
    width: 285px;
    height: 360px;
}
.for-clients-text {
    font-family: reg;
    font-size: 22px;
    text-align:center ;
    margin-bottom: 10px;
}
.for-clients-img{
     margin-left: 112.05px;
    margin-top: 133.05px; 
    
}
.people-group-solid {
    width: 61px;
    height: 61px;
}
.on-hover {
    font-size: 14px;
    font-family: reg;
    color: #f0f0f0;
}
.for-clients div:hover{
    background-color: #15263E;
    color: #F0F0F0;
    width: 300px;
}
.clip {
    position: relative;
    width: 100%;
    height: 570px;
    margin-top: 160px;
}




























.for-projects{
    font-size: 70px;
    margin-top: 114px;
    margin-left: 848px;
}
.for-all {
    width: 240px;
    height: 401px;
    background-color: #15263E;
    display: grid;
    grid-template-columns: min-content;
    gap: none;
}
.for-all-container{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
/* .for-all button{
    border: none;
    outline: none;
    background-color: #15263E;
    padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: auto;
    height: 1px;
    text-align: start;
    margin-left: 59px;
    margin-top: 31px;
} */
.for-all p{
    color: white;
    font-family: reg;
    font-size: 20px;
    height: 2px;
   padding-top: 18px;
}
.for-all div{
    margin-top: 51px;
    margin-left: 59px;
}
.for-all p:hover{
    color: #E93656;
}
.for-all {
    margin-right: 30px;
}
.pics-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
}
.pics-container img{
    width: 300px;
    height: 340px;
}
.pics-container p{
    font-family: reg;
    font-size: 23px;
    display: none;
}
.pics-container img:hover{
    filter: blur(1.5rem);
}
.green-text {
    margin-top: 170px;
    color: #2ED279;
    font-size: 13px;
    text-align: center;
}
.afterevent {
    font-size: 70px;
    color: #2E2E2E;
    text-align: center;
    margin-top: -20px;
}
.flex-container {
    width: 800px;
    margin-left: 198px;
    margin-top: 118px;
    display: flex;
    flex-direction: column;
}
.icon-for-s1{
    width: 29px;
    height: 34px;
    margin-bottom: 64px;
}
.article-p1 {
    font-size: 14px;
    color: #888888;
    margin-bottom: -30px;
}
.article-p2{
    font-size: 40px;
    color: #161616;
    margin-bottom: 29px;
}
.article-p3{
    font-size: 16px;
    color: #494949;
}
.flex-container a{
    font-size: 13px;
    color: #444444;
    margin-top: -20px;
}
.flex-container a:hover{
    color: #E93656;
}
.for-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.numbers-div {
    position: relative;
    width: 123px;
    height: 590px;
    background-color: #15263E;
    margin-right: 780px;
}
.numbers {
    position: absolute;
    width: 167px;
    height: 40px;
    font-size: 30px;
    color: #E93656; 
    rotate: 270deg;
    top: 250px;
    right: -19px;
    letter-spacing: 0.9px;
   
}
.dif-div img{
    margin-left: 122px;
    width: 780px;
    height: 590px;
}
.numbers-div-2{
    position: relative;
    width: 123px;
    height: 590px;
    background-color: #15263E;
    margin-left: 999px;
}

.section-2-flex {
    display: flex;
    flex-direction: row;
}
.dif-div-2 img{
    margin-left: 0px;
    width: 875px;
    height: 590px;
}
.flex-container-2 {
    width: 700px;
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    margin-left: -600px;
}
.flex-container-2 img{
    width: 85px;
    height: 85px;
    margin-bottom: 64px;
}
.flex-container-2 a{
    font-size: 13px;
    color: #444444;
    margin-top: -20px;
}
.flex-container-2 a:hover{
    color: #E93656;
}
.for-grid-3{
    margin-top: -4px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.icon-for-s3{
    width: 95px;
    height: 95px;
    margin-bottom: 64px;
}
.flex-about-clients {
    display: flex;
    justify-content: center;
    gap: 114px;
    align-items: center;
}
.blue-container{
    background-color: #15263E;
    width: 110px;
    height: 110px;
    margin-top: 150px;
}
.clients-divs{
    width: 230px;
    height: 190px;
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 4px solid #E93656;
    opacity: 1;
}
#textforclient {
    visibility: hidden;
    width: 110px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #E93656;
}
footer {
    margin-top: 155px;
}
.footer-map{
    width: 100%;
    position: relative;
}
.footer-p-1{
    position:absolute;
    top: 7822px;
    font-size: 45px;
    left: 840px;
}
.footerp-2{
    position: absolute;
    top: 7908px;
    left: 750px;
    font-size: 17px;
}
.input-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 8010px;
    left: 710px;
}
.input-container textarea{
    margin-top: 40px;
    margin-left: -540px;
}
.footer-button{
    width: 187px;
    height: 50px; 
    background: #DAAF1B00 0% 0% no-repeat padding-box;
    border: 2px solid #E93656;  
    color: #E93656;
    font-size: 12px;
    position: absolute;
    top: 8210px;
    left: 890px;
}
.footer-button:hover{
    background-color: #E93656;
    color: #DFDFDF;
}
.footers-div{
    width: 100%;
    height: 450px;
    background-color: #282828;
    margin-top: -60px;
    color: white;
}
.roca-2{
    font-size: 56px;
    color: white;
    text-align: center;
    padding-top: 110px;
}
.footers-last-p{
    text-align: center;
    color: #A5A5A5;
}
.footers-div img {
    width: 30px;
}
.footers-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 850px;
    margin-top: 50px;
}
.footers-div img:hover{
   background:linear-gradient(45deg, white, lightskyblue);
   width: 40px;
   margin-top: -5px;
   transition-duration: 0.9s;
}
.footers-last-div{
    width: 100%;
    background-color: #171717;
    height: 50px;
    margin-top: -18px;
}
.footers-last-div p{
    color: #A0A8B7;
    text-align: center;

}
.by-me{
    margin-top: -10px;
}